img.logo {
	width: 25px;
	height: 25px;
	border-radius: 13px;
	margin-right: 10px;
}

div.announcement p,div.announcement blockquote {
	font-size: 18px;
}

textarea {
	resize: vertical;
}

div.well form {
	margin-bottom: 0px;
}

span.help-inline ul li {
	list-style-type:none;
}

span.label {
	margin-right: 5px;
}